In [1]:
[1,2,3,4,56,"das","#edw"]

[1, 2, 3, 4, 56, 'das', '#edw']

In [ ]:
22 March-1-
len, type, 
list[1D,changable], a=[1,2,3,4,23,233,53], a[2],a
Tuple(1D,notchangable), b=[1,3,32,4,24,43,244], b[2], b[2]=13,b
Set {1D,unique,ordered}, c={343,43,53,2,3,3,23,653,43,434,2}, c[3],c
Dict d={'d':[1,2],'e'[0.3,0.4]}, d['d'][3]
Conversion: 
c_l=list(c),
b_l=list(b), b_s=set(b)
d_l=list(d), d_s=set(d)
a_t=tuple(a), d_t=tuple(d)
c_t=tuple(c)

In [4]:
shipa=[1,2,3,4,5,'a','c','d']

In [3]:
shipa

[1, 2, 3, 4, 5, 'a', 'c', 'd']

In [4]:
Shilpa # python is case sensetive

NameError: name 'Shilpa' is not defined

In [5]:
len(shipa)

8

In [6]:
type(shipa)

list

In [7]:
#list : 1D and mutable in nature (replace data element)
a=[1,2,35,63,342]

In [8]:
 a

[1, 2, 35, 63, 342]

In [14]:
type(a)

list

In [10]:
 a[2]

35

In [11]:
a[2]=3

In [12]:
a

[1, 2, 3, 63, 342]

In [37]:
# Tuple : 1D data structire and immutable in nature
b=(1, 2, 3, 63, 45, 45, 342)

In [19]:
type(b)

tuple

In [20]:
b[2]

3

In [21]:
b[2]=1

TypeError: 'tuple' object does not support item assignment

In [22]:
#Set is unique variale and is in ordered format

In [23]:
c={12,342,4,5,5,3,43,4,24,234,3,423,4,634,98}

In [24]:
c

{3, 4, 5, 12, 24, 43, 98, 234, 342, 423, 634}

In [25]:
c[2]

TypeError: 'set' object is not subscriptable

In [26]:
#dictionary: 2 Dimensional stores value with key and value terms
d={'sales':[1,2,3,4,5], 'profit':[0.5,0.3,0.6,0.8,0.3]}

In [27]:
d['sales'][3]

4

In [28]:
 d['profit'][4]

0.3

In [29]:
#converting set to list format
c_l=list(c)

In [30]:
c_l

[98, 3, 4, 5, 423, 234, 43, 12, 342, 24, 634]

In [31]:
c_l[2]=345

In [32]:
c_l

[98, 3, 345, 5, 423, 234, 43, 12, 342, 24, 634]

In [39]:
b_l=set(b)

In [40]:
b_l

{1, 2, 3, 45, 63, 342}

In [41]:
d_l=list(d)

In [42]:
d_l

['sales', 'profit']

In [43]:
d_l=set(d)

In [44]:
d_l

{'profit', 'sales'}

In [45]:
a_t=tuple(a)

In [46]:
a_t

(1, 2, 3, 63, 342)

In [49]:
a_t[2]=42

TypeError: 'int' object does not support item assignment

In [50]:
a[3]=565

In [51]:
d['location']=['manihari','katihar','baroni','chandigarh','gurgaon']

In [52]:
d

{'sales': [1, 2, 3, 4, 5],
 'profit': [0.5, 0.3, 0.6, 0.8, 0.3],
 'location': ['manihari', 'katihar', 'baroni', 'chandigarh', 'gurgaon']}

In [60]:
d['sales']

[1, 2, 3, 4, 5]

In [68]:
d['sales']:898

In [69]:
d

{'sales': [1, 2, 3, 4, 5],
 'profit': [0.5, 0.3, 0.6, 0.8, 0.3],
 'location': ['manihari', 'katihar', 'baroni', 'chandigarh', 'gurgaon']}

In [70]:
from notebook.auth import passwd

In [71]:
passwd()

Enter password: ········
Verify password: ········

'sha1:d6832e0588f3:1c739d8ed1659c88912f206b831ebcdc3ec806e8'